:root {
    --he_back: #fff; 
    --he_back_alt: #f1f1f1;

    --he_dark: #2f2f2f; 
    --he_dark_alt: #3f3f3f;

    --he_text: #000; 
    --he_text_light: #666;

    --he_text_alt: #2f4d6d;
    --he_text_alt_light: #456281;

    --he_base: #2b78fe; 
    --he_base_light: #0099ff;

    --he_alt: rgb(46, 150, 46); 
    --he_alt_light: rgb(61, 175, 61);

    --he_alert: #f00000; 
    --he_alert_light: #ff4242;

    --he_disabled: #aaa; 
    --he_disabled_light: #ccc;

    --he_selected: #e6f7ff;

    --he_font: Tahoma;
    --he_font_size: 14px;

    --he_align: right;
    --he_rev_align: left;
    
    --he_direction: rtl;
    --he_rev_direction: ltr;
}